C 0 0 "I/01" 0 0 0 0 60 0 L
X "PIN_TEXT" "I/01" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "I/02" 0 -200 0 0 60 0 L
X "PIN_TEXT" "I/02" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 1100 0 "I/03" 1100 0 0 0 60 0 R
X "PIN_TEXT" "I/03" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "I/04" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "I/04" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
L 200 100 900 100 -1 0
L 900 -300 900 100 -1 0
L 900 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

